/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

:root {
  --scrollbar-background: #EDEDED;
}
.home .hero img
  max-width 450px!important;

pre .code-copy
  margin-top -0.85rem;
  svg path:nth-child(2)
    fill #42b983

div.page-nav {
  max-width: 1050px;
}

footer.page-edit {
  max-width: 1050px;
}

aside.sidebar {
  border-right: 0px;
}

.custom-block.danger, .custom-block.tip, .custom-block.warning 
  border-radius: 6px;

a.sidebar-link.active 
  border-radius: 3px;


.theme-default-content:not(.custom) img 
  border-radius: 6px;

.theme-default-content:not(.custom) 
  max-width: 1050px;


/* Scrollbar width */
html ::-webkit-scrollbar 
  width: 8px;

/* Scrollbar background */
.yuu-theme-dark {
  --scrollbar-background: #171717; 
}

html ::-webkit-scrollbar-track {
  background-color: var(--scrollbar-background);
}

/* Scrollbar color */
html ::-webkit-scrollbar-thumb
  background: #25D366;
  border-radius: 10px; 

/* Scrollbar color hover */
html ::-webkit-scrollbar-thumb:hover
  background: darken(#25D366, 30%);